html {
	font-size: 18px;
}
span.green {
	color: #00d1a7;
}
a.btnStyled {
	border: 1px solid #000;
	border-radius: 6px;
	padding: 10px;
	text-decoration: none;
	font-weight: 600;
	color: #000;
	transition: all 0.25s ease-in-out;
}
a.btnStyled:hover {
	color: #fff;
	background-color: rebeccapurple;
}
.App {
	text-align: center;
}
nav.navbar {
	min-height: 80px;
	padding: 20px 0;
	background-color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav.navbar img {
	padding-left: 30px;
}
.nav-links {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 30px;
}
a.nav-link {
	margin-right: 20px;
	position: relative;
	font-size: 1.35rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}
a.nav-link:hover {
	text-decoration: underline;
}
.pageWrapper {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: left;
	padding: 0 20px;
}
.formWrapper {
	position: relative;
	max-width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 40px;
}
@media (max-width: 500px) {
	nav.navbar {
		min-height: 60px;
	}
	nav.navbar img {
		padding-left: 0px;
		width: 80%;
	}
	.nav-links {
		margin-right: 0;
	}
	a.nav-link {
		font-size: 1.1rem;
	}
}
